.btn {
  background-image:
    linear-gradient(to bottom, rgba(255,255,255,0.75), rgba(255,255,255,0.25) 49%, rgba(0,0,0,0.075) 51%, rgba(0,0,0,0.375)),
    repeating-linear-gradient(-45deg, rgba(0,0,0,0), rgba(0,0,0,0) 0.25em, rgba(0,0,0,0.1) 0.75em, rgba(0,0,0,0.1) 1em)!important;
  text-shadow: 0 0 0.125em #000, 0 0 0.125em #000, 0 0 0.125em #000;
  font-weight: bold;
}
.btn.active {
  background-image:
    linear-gradient(to bottom, rgba(0,0,0,0.075) 0%, rgba(255,255,255,0.75)),
    repeating-linear-gradient(-45deg, rgba(0,0,0,0), rgba(0,0,0,0.0) 0.25em, rgba(0,0,0,0.1) 0.75em, rgba(0,0,0,0.1) 1em)!important;
}

[v-cloak] { display: none; }